body{
    background-color: #23252c;
}

main {
  height: 100vh;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.info {
  background-color: #1a1b21;
  width: 320px;
}

.profile-image {
  display: flex;
  justify-content: center;
}

.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}

.desig {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
  margin-top: -20px;
}

.website {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  color: #f5f5f5;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.contact-buttons > img {
  margin-right: 20px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.about-section {
  margin-top: -25px;
  background-color: #1a1b21;
}

div.about-section > h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #f5f5f5;
  padding-top: 30px;
  margin-left: 30px;
}

div.about-section > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #dcdcdc;
  margin-top: -20px;
  text-align: left;
  width: 275px;
  padding-left: 30px;
}
